<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:remove="all">Confirmação de Cadastro</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body style="background-color: #efefef">
		<div style="background-color: white; font-family: sans-serif; text-align: center; border: 1px #E1E7E3 solid; width: 80%; height: 100%; margin: 0 auto;">
			<div style="margin: 50px;">
				<h1 style="color: #37B3C8; display: inline;">promo</h1>
				<h1 style="color: #28709D; display: inline;">bv</h1>
			</div>
			<div style="">
				<h2 style="padding: 20px; background-color: #28709D; color: white">Quase lá</h2>
			</div>
			<p style=" line-height: 20px; font-size: 0.9em; color: #454545; margin-top: 50px; margin-bottom: 50px; margin-left: 20%; margin-right: 20%;">
				Para concluir o cadastro no aplicativo, clique nesse link: <a style="font-weight: bold; color: #37B3C8;" th:href="@{${link}}">Confirmar cadastro</a>
			</p>
		</div>
	</body>
</html> 